<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rodrigues.murilo.mtrack">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListOrderActivity"
            android:label="Order List"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.OrderActivity"
            android:label="Order"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".ui.quote.ArticleDetailActivity"
            android:label=""
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.SyncActivity"
            android:label="Sync"
            android:parentActivityName=".activity.MainActivity" />
        <!-- android:parentActivityName=".ui.quote.ListActivity" /> -->

    </application>

</manifest>